<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="progress-bars/style.css">
  <title>Progress Bars</title>
</head>

<body>
  <div class="wrapper">
    <div id="progress-0"></div>
    <div id="progress-25"></div>
    <div id="progress-50"></div>
    <div id="progress-75"></div>
    <div id="progress-100"></div>
    <div id="progress-2"></div>
    <div id="progress--10"></div>
    <div id="progress-120"></div>
  </div>
  <script src="progress-bars/script.js"></script>
</body>

</html>